* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0f0e17;
}

.mengalihkan {
  font-size: 24px;
  position: relative;
  display: inline-block;
  width: 8em;
  height: 5em;
  user-select: none;
}

.mengalihkan .cb {
  opacity: 0;
  width: 0;
  height: 0;
}

.beralih {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #373737;
  border-radius: 0.2em;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -0.5em 0 0 0 #373737, -0.5em 0.5em 0 0 #373737,
    0.5em 0 0 0 #373737, 0.5em 0.5em 0 0 #373737, 0 0.5em 0 0 #373737;
}

.beralih > .kiri {
  position: absolute;
  display: flex;
  width: 50%;
  height: 90%;
  background-color: #f3f3f3;
  color: #373737;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.kiri::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center left;
  transform: rotateY(90deg);
}

.kiri::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.beralih > .kanan {
  position: absolute;
  display: flex;
  width: 50%;
  height: 90%;
  background-color: #f3f3f3;
  color: rgb(206, 206, 206);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-45deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.kanan::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.kanan::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.mengalihkan input:checked + .beralih > .kiri {
  transform: rotateX(10deg) rotateY(45deg);
  color: rgb(206, 206, 206);
}

.mengalihkan input:checked + .beralih > .kanan {
  transform: rotateX(10deg) rotateY(0deg);
  color: #487bdb;
}
